<!-- Dév d'une App utilisant une API. (WarframeStatus [https://docs.warframestat.us/#tag/Warframe]) -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>Warframe Cycles try</title>
		<style>
			#demo {
				font-family: "Helvetica", Arial, sans-serif;
			}
			a {
				text-decoration: none;
				color: #3535ff;
			}
			li {
				line-height: 1.5em;
				margin-bottom: 20px;
			}
			.author,
			.date {
				font-weight: bold;
			}
			.cetusCycle{
				color: #000000;
			
			}
		</style>
	</head>
	<body>
		<div id="demo">
			<!-- <pre>{{commits}}</pre> -->
			<h1>Actual Cycles</h1>
			<template v-for="place in places">
				<input
					type="radio"
					:id="place"
					:value="place"
					name="place"
					v-model="currentPlace"
				/>
				<label :for="place">{{ place }}</label>
			</template>
			<p>{{ currentPlace }}, Etat : </p>
			<ul>
				<div v-if="wf_info !== null">
					<li v-if="wf_info.id" class = "cetusCycle">
						<a> {{wf_info.activation}} </a>
					</li>
				</div>
				<!-- je crois j'ai un problème avec CORS mais j'ai pas compris ça allait trop vite -->
				
				<!-- <li v-for="record in commits"> -->
					<!-- <a :href="record.html_url" target="_blank" class="commit" -->
						<!-- >{{ record.sha.slice(0, 7) }}</a -->
					<!-- > -->
					<!-- - -->
					<!-- <span class="message" -->
						<!-- >{{ formattedMessage(record.commit.message) }}</span -->
					<!-- ><br /> -->
					<!-- by -->
					<!-- <span class="author" -->
						<!-- ><a :href="record.author.html_url" target="_blank" -->
							<!-- >{{ record.commit.author.name }}</a -->
						<!-- ></span -->
					<!-- > -->
					<!-- at -->
					<!-- <span class="date" -->
						<!-- >{{ formattedDate(record.commit.author.date) }}</span -->
					<!-- > -->
				<!-- </li> -->
			</ul>
		</div>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://unpkg.com/vue@3"></script>
		<script>
			const apiURL = "https://api.warframestat.us/pc/";
			const config = {};

			Vue.createApp({
				data() {
					return {
						places: ["cetus", "earth", "cambion", "vallis"],
						currentPlace: "cetus",
						wf_info: null,
					};
				},

				created: function () {
					this.fetchDataPromise();
					// this.fetchDataAsync()
				},

				watch: {
					currentPlace: "fetchDataPromise", //fetchDataAsync
				},
				methods: {
					fetchDataPromise: function () {
						const self = this;
						axios
							.get(apiURL + self.currentPlace + "Cycle", config)
							.then(function (response) {
								console.log("retour API");
								console.log(response.data);
								self.wf_info = response.data;
								// console.log(self.commits[0].html_url);
							})
							.catch(function (error) {
								console.log(error);
							});
					},
					// fetchDataAsync: async function () {
					// 	try {
					//   	const response = await axios.get(apiURL + this.currentPlace, config)
					// 	  console.log(response.data)
					// 	  this.commits = response.data
					//         // console.log(self.commits[0].html_url);
					//   } catch(error) {
					//     console.log(error);
					//   }
					// },
					formattedMessage: function (message) {
						const newline = message.indexOf("\n");
						return newline > 0 ? message.slice(0, newline) : message;
					},
					formattedDate: function (date) {
						return date.replace(/T|Z/g, " ");
					},
				},
			}).mount("#demo");
		</script>
	</body>
</html>
