<!-- Dév d'une App utilisant une API. (WarframeStatus [https://docs.warframestat.us/#tag/Warframe]) -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>Warframe Cycles try</title>
		<style>
			#demo {
				font-family: "Helvetica", Arial, sans-serif;
			}
			a {
				text-decoration: none;
				color: #3535ff;
			}
			li {
				text-decoration: none;
				line-height: 1.5em;
				margin-bottom: 20px;
			}
			.author,
			.date {
				font-weight: bold;
			}
			.infoType{
				color: #451010;
			
			}
		</style>
	</head>
	<body>
		<div id="demo">
			<!-- <pre>{{commits}}</pre> -->
			<h1>Actual Cycles</h1>
			<template v-for="place in places">
				<input
					type="radio"
					:id="place"
					:value="place"
					name="place"
					v-model="currentPlace"
				/>
				<label :for="place">{{ place }}</label>
			</template>
			<!-- <p>{{ currentPlace }}: </p> -->
			<p> {{currentPlace[0].toUpperCase() + currentPlace.slice(1)}} </p>
			<ul>
				<div v-if="wf_info !== null">
				
					<li v-if="wf_info.id" class = "infoType">
						Current world state : <a> {{wf_info.state}} </a>
					</li>
					
					<li v-if="wf_info.id" class = "infoType">
						Time left until next state : <a> {{wf_info.timeLeft}} </a>
					</li>
					
					<li v-if="wf_info.state == 'fass'" class = "infoType">
						Next world state : <a> vome </a>
					</li>
					<li v-if="wf_info.state == 'vome'" class = "infoType">
						Next world state : <a> fass </a>
					</li>
					<li v-if="wf_info.state == 'day'" class = "infoType">
						Next world state : <a> night </a>
					</li>
					<li v-if="wf_info.state == 'night'" class = "infoType">
						Next world state : <a> day </a>
					</li>
					<li v-if="wf_info.state == 'cold'" class = "infoType">
						Next world state : <a> warm </a>
					</li>
					<li v-if="wf_info.state == 'warm'" class = "infoType">
						Next world state : <a> cold </a>
					</li>
					
					
				</div>
			</ul>
		</div>
		
		
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://unpkg.com/vue@3"></script>
		<script>
			const apiURL = "https://api.warframestat.us/pc/";
			const config = {};

			Vue.createApp({
				data() {
					return {
						places: ["cetus", "earth", "cambion", "vallis"],
						currentPlace: "cetus",
						wf_info: null,
					};
				},

				created: function () {
					this.fetchDataPromise();
				},

				watch: {
					currentPlace: "fetchDataPromise", 
				},
				methods: {
					fetchDataPromise: function () {
						const self = this;
						axios
							.get(apiURL + self.currentPlace + "Cycle", config)
							.then(function (response) {
								console.log("retour API");
								console.log(response.data);
								self.wf_info = response.data;
							})
							.catch(function (error) {
								console.log(error);
							});
					},
					formattedMessage: function (message) {
						const newline = message.indexOf("\n");
						return newline > 0 ? message.slice(0, newline) : message;
					},
					formattedDate: function (date) {
						return date.replace(/T|Z/g, " ");
					},
				},
			}).mount("#demo");
		</script>
	</body>
</html>
